<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.fridahkanario.tic_tac_toe">

    <application
        android:allowBackup="true"
        android:icon="@drawable/tictaclogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tictaclogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThreeByThreeActivity"/>
        <activity android:name=".FourByFourActivity"/>
        <activity android:name=".FiveByFiveActivity"/>
    </application>

</manifest>